Package: com.hius.ymf
Name: YMF
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Remove some ads on Facebook, Youtube, Messenger, Reddit, Twitter, Instagram.
Maintainer: Hius
Author: Hius
Section: Tweaks
