<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ytBgEnabled</key>
	<true/>
	<key>ytNadEnabled</key>
	<true/>
	<key>fbEnabled</key>
	<true/>
	<key>mEnabled</key>
	<true/>
	<key>instaEnabled</key>
	<true/>
	<key>twEnabled</key>
	<true/>
	<key>redEnabled</key>
	<true/>
</dict>
</plist>
